<form [formGroup]="form" class="d-flex flex-row flex-wrap justify-content-start align-items-center gap-2 mx-1 my-3"
    (keydown.enter)="enterable && onSubmit()">

    <div class="d-flex flex-row flex-wrap justify-content-start align-items-start gap-2">
        @for (item of visibleFields(); track item.name) {
        <ng-container
            *ngTemplateOutlet="renderItem; context: { item: item, controlName: item.name, parentGroup: form }">
        </ng-container>
        }
    </div>

    @if(showButtons) {
    <div class="form-actions d-flex flex-row flex-nowrap justify-content-end align-items-end gap-2 pe-3 mb-1 w-100">
        @if(editMode) {
        @if(cancellable) {
        <button mat-stroked-button color="warn" (click)="onCancel()" type="button" class="mb-1">
            {{ cancelButtonText }}
        </button>
        }

        <button mat-flat-button color="primary" type="button" class="mb-1 ms-2" (click)="onSubmit()"
            [disabled]="form.invalid || (!editMode && form.pristine)">
            {{ submitButtonText }}
        </button>

        }

        @if (resetable) {
        <button mat-stroked-button type="button" class="mb-1 ms-2" (click)="onReset()">Reset</button>
        }
    </div>
    }
</form>

<ng-template #renderItem let-item="item" let-controlName="name" let-parentGroup="parentGroup">
    <div [formGroup]="parentGroup" [class]="item.colClass || 'col-auto'">

        @if (item.controls && item.controls.length > 0) {
        <fieldset [formGroupName]="item.name" class="mx-2 border p-2">
            <legend class="float-none w-auto px-2">{{ item.label }}</legend>
            <div class="d-flex flex-row flex-wrap justify-content-start align-items-end gap-3">
                @for (child of item.controls; track child.name) {
                <ng-container
                    *ngTemplateOutlet="renderItem; context: { item: child, controlName: child.name, parentGroup: parentGroup.get(item.name) }">
                </ng-container>
                }
            </div>
        </fieldset>
        }

        @else if (item.array && item.array.length > 0) {
        <fieldset class="mx-2 border p-2">
            <div class="d-flex justify-content-between align-items-center w-100 mb-2">
                <legend class="float-none w-auto px-2">{{ item.label }}</legend>
                <button mat-icon-button type="button" (click)="addArrayItem(item)"><mat-icon>add</mat-icon></button>
            </div>
            <div [formArrayName]="item.name" class="d-flex flex-column gap-2">
                @for (control of getControls(item.name); track control; let i = $index) {
                <div class="d-flex flex-row align-items-center gap-2">
                    @if (item.array[0].controls) {
                    <div [formGroupName]="i" class="d-flex flex-row flex-wrap gap-2 border-bottom pb-2">
                        @for (child of item.array[0].controls; track child.name) {
                        <ng-container
                            *ngTemplateOutlet="renderItem; context: { item: child, controlName: child.name, parentGroup: parentGroup.get(item.name).at(i) }">
                        </ng-container>
                        }
                    </div>
                    }
                    @else {
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ item.array[0].label }}</mat-label>
                        <input matInput [formControlName]="i" [type]="item.array[0].type || 'text'">
                    </mat-form-field>
                    }
                    <button mat-icon-button color="warn" type="button"
                        (click)="removeArrayItem(item, i)"><mat-icon>delete</mat-icon></button>
                </div>
                }
            </div>
        </fieldset>
        }

        @else {
        @switch (item.type) {
        @case ('checkbox') {
        <mat-checkbox [formControlName]="item.name" [disabled]="item.readonly || item.disabled" class="mb-3">
            {{ item.label }}
        </mat-checkbox>
        }
        @case ('date') {
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ item.label }}</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="item.name" [readonly]="item.readonly" />
            <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="item.readonly"></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="item.readonly || !editMode"></mat-datepicker>
            @if (form.get(item.name)?.invalid && form.get(item.name)?.touched) {
            <mat-error>{{ getErrorMessage(item.name) }}</mat-error>
            }
        </mat-form-field>
        }
        @case ('textarea') {
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ item.label }}</mat-label>
            <textarea matInput [formControlName]="item.name" [rows]="item.rows || 3"
                [readonly]="isFieldReadonly(item)"></textarea>
            @if (form.get(item.name)?.invalid && form.get(item.name)?.touched) {
            <mat-error>{{ getErrorMessage(item.name) }}</mat-error>
            }
        </mat-form-field>
        }
        @case ('select') {
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ item.label }}</mat-label>
            <mat-select [formControlName]="item.name" [disabled]="item.readonly || item.disabled">
                @for (opt of item.options; track opt.value) {
                <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
                }
            </mat-select>
            @if (form.get(item.name)?.invalid && form.get(item.name)?.touched) {
            <mat-error>{{ getErrorMessage(item.name) }}</mat-error>
            }
        </mat-form-field>
        }
        @case ('section-header') {
        <div class="section-header-item">
            <span class="section-header-bar"></span>
            <mat-icon>{{ item.placeholder || 'info_outline' }}</mat-icon>
            {{ item.label }}
            @if(item.initialValue) {
            <span class="section-header-optional">{{ item.initialValue }}</span>
            }
        </div>
        }
        @default {
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ item.label }}</mat-label>
            <input matInput [type]="item.type || 'text'" [formControlName]="item.name"
                [placeholder]="item.placeholder || ''" [readonly]="isFieldReadonly(item)">
            @if (form.get(item.name)?.invalid && form.get(item.name)?.touched) {
            <mat-error>{{ getErrorMessage(item.name) }}</mat-error>
            }
        </mat-form-field>
        }
        }
        }
    </div>
</ng-template>