<form [formGroup]="form" class="d-flex flex-row flex-wrap justify-content-start align-items-center gap-2 mx-1 my-3"
    (keydown.enter)="enterable && onSubmit()">
    <div class="d-flex flex-row flex-wrap justify-content-start align-items-start gap-2">

    </div>
    @for(field of visibleFields(); track field.name) {
    <div [class]="field.colClass || 'col-12'">
        @switch (field.type) {
        @case('textarea') {
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{field.label}}</mat-label>
            <textarea matInput [formControlName]="field.name" [rows]="field.rows || 3"
                [placeholder]="field.placeholder || ''">
                            </textarea>
            @if(form.get(field.name)?.invalid && form.get(field.name)?.touched) {
            <mat-error>{{getErrorMessage(field.name)}}</mat-error>
            }
        </mat-form-field>
        }

        @case ('select') {
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{field.label}}</mat-label>
            <mat-select [formControlName]="field.name" [placeholder]="field.placeholder || ''">
                @for(option of field.options; track option.value) {
                <mat-option [value]="option.value">{{option.label}}</mat-option>
                }
            </mat-select>
            @if(form.get(field.name)?.invalid && form.get(field.name)?.touched) {
            <mat-error>{{getErrorMessage(field.name)}}</mat-error>
            }
        </mat-form-field>
        }

        @case ('date') {
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="field.name" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
            <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
            }
        </mat-form-field>
        }

        @default {
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [type]="field.type || 'text'" [formControlName]="field.name"
                [maxlength]="field.maxLength ?? null" [placeholder]="field.placeholder || ''" />
            @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
            <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
            }
        </mat-form-field>
        }
        }
    </div>
    }

    @if(showButtons && editMode) {
    <div class="col-12 text-end mt-3">
        <button mat-stroked-button color="warn" (click)="onCancel()" type="button">
            {{ cancelButtonText }}
        </button>
        <button mat-flat-button color="primary" class="ms-2" type="submit" [disabled]="form.invalid">
            {{ submitButtonText }}
        </button>
    </div>
    }

</form>